K8S_LDAP_AUTH_KEY_PATH=./pki/webhook-server.key
K8S_LDAP_AUTH_CA_CERT_PATH=./pki/ca.crt
K8S_LDAP_AUTH_CERT_PATH=./pki/webhook-server.crt
K8S_LDAP_AUTH_LDAP_URL=ldaps://ldap-server
K8S_LDAP_AUTH_LDAP_TIMEOUT_CONN=40
K8S_LDAP_AUTH_LDAP_BIND_USER="uid=binduser,cn=sysaccounts,cn=etc,dc=example,dc=test"
K8S_LDAP_AUTH_LDAP_BIND_PASSWORD=
K8S_LDAP_AUTH_LDAP_SEARCH_BASE="cn=users,cn=accounts,dc=example,dc=test"
K8S_LDAP_AUTH_LDAP_USER_ATTR="uid"
K8S_LDAP_AUTH_LDAP_SEARCH_ATTRS="k8s_extra_sn:sn,groups:memberOf,k8s_extra_objectClass:objectClass"